* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html {
    font-family: 'Open Sans', sans-serif;
    color: rgb(39, 39, 39);
}
.white {
    color: white;
}

.black {
    color: black;
}

.orange {
    color: #eb6c27;
}

.bold {
    font-weight: 700;
}

.bolder {
    font-weight: bolder;
}

.small {
    font-size: 12px;
}

.big {
    font-size: 14px;
}

.bigger {
    font-size: 18px;
}

.title {
    font-size: 1.5em;
}

.center {
    text-align: center;
}

.none {
    display: none !important;
}

.btn_gap_b {
    margin-bottom: 50px;
}

.btn_gap_t {
    margin-top: 50px;
}
@media (max-width: 350px) {
    .header-main {
        font-size: 1.4em;
    }
    .header-light {
        font-size: 1em;
    }
    .body__header {
        height: 25vh;
    }
}

.body_services {
    padding: 2em 1em;
}

.heading {
    padding-top: 1em;
    font-weight: 1000;
    font-size: 2em;
    text-align: center;
}
p {
    padding-top: 1em;
    font-size: 1.2em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media (min-width: 1150px) {
    .services-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5em;
        grid-auto-flow: dense;
    }
    .fig-p {
        grid-column: 2;
    }
    .l-rad {
        grid-column: 2;
    }
    .fig-l {
        grid-column: 1;
    }
    .body_services {
        width: 70vw;
        margin: 0 auto;
    }
    .services-header{
        text-align: center;
    }
    .heading {
        font-size: 50px;

    }
}

.body__header{
    background: linear-gradient(to right, rgba(70, 70, 70, 0.4),rgb(43, 43, 43)),
                url(./media/pageheader-1920w.jpg);
    background-repeat: no-repeat;
    height: 35vh;
    background-size:  cover;
    background-position: center;
    display: block;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.body_nav {
    position: sticky;
    top: 0;
    width: 100%;
}
.logo{
    display: inline-block;
    color: #FFFFFF;
    font-size: 60px;
    margin-left: 10px;
}
.nav {
    width: 100%;
    height: auto;
    position: fixed;
    background-color: #EB6C27;
    overflow: hidden;
}
.menu a{
    text-transform: uppercase;
    display: block;
    text-align: left;
    font-size: 1em;
    padding: .8em;
    padding-left: 2em;
    color: #FFFFFF;

}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.btn {
    text-align: center;
    display: inline-block;
    color: #EB6C27;
    font-size: 1.1em;
    font-weight: 400;
    padding: .4em 1.3em;
    text-decoration: none;
    border: 2px dashed #EB6C27;
}

.button {
    text-align: left;
}


.topnav{
    float: right;
    padding: 40px 20px;
}
.topnav-line {
    background-image: linear-gradient(to right, rgb(255, 102, 0), rgb(255, 188, 143));
    display: block;
    height: 5px;
    position: relative;
    width: 30px;
}
.topnav-line::before,
.topnav-line::after{
    background-image: linear-gradient(to right, rgb(255, 102, 0), rgb(255, 188, 143));
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.topnav-line::before{
    top: 10px;
}
.topnav-line::after{
    top: -10px;
}
.side-menu {
    display: none;
}

.side-menu:checked ~ nav{
    max-height: 100%;
}

.header-main {
    color: #FFFFFF;
    font-style: bold;
    font-size: 2em;
}

.header-light {
    font-weight: 200;
    font-size: 1.3em;
    padding-bottom: 1em;
}




.p-rad img {
    border-radius: 0 0 30px 0;
}

.l-rad img {
    border-radius: 0 0 0 30px;
}

.img-rsp {
    display: block;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    padding-top: 2.5em;
}

.seznam{
    font-size: 1.2em;
    display: inline-block;
    margin-left: 1em;
    padding: 1em;
    list-style: inside;
    padding-left: 10px;
    color: rgb(255, 102, 0) ;
    
}

.onas{
    margin-left: 1em;
}

.container{
    margin: 3em;
}
.name{
    position: relative;
    text-align:center;
    bottom: -65%;
}
.footer {
    background-color: #eb6c27;
    padding-bottom: 50px;
    margin-top: 80px;
}
.footer_btn {
    padding: 2em 4em 2em 4em;
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 18em;
    background-color: white;
    margin: auto;
}
.presvedcit {
    height: 45vh;
    width: 100%;
    background-image: radial-gradient(transparent, rgb(0, 0, 0, 0.9)), url(./media/background-CTAblock-4460w.jpg);
    background-repeat: no-repeat;
    display: block;
    padding: 0%;
    background-position: center center;
    background-size: cover; 
}
.presvedcit_btn {
    padding: 1em 2.5em 1em 2.5em;
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 12em;
    background-color: #eb6c27;
    margin-top: 30px;
}

.presvedcit_text_h {
    font-size: 17px;
}

.presvedcit_text {
    padding-left: 3em;
    padding-right: 5em;
    padding-top: 1.5em;
}

.galerie_reference_img {
    object-fit: cover;
    width: 100%;
    display: block;
    max-width: 500px;
    max-height: 307px;
}
.wrapper{
    padding-top: 50px;
}
.sluzby{
    color: #eb6c27 ;
}